<%- include ./partials/header.ejs %>
<%- include ./partials/sidebar.ejs %>
<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-md-0">
            <div class="row d-flex no-gutters">
                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3 class="mb-4 heading">Get in touch</h3>
                        <a href="https://wa.me/085772025040?text=Halo%20MasamasaPhotography!" target="_blank" class="btn btn-primary">Chat Admin Cianjur</a>
                        <a href="https://wa.me/08782458889?text=Halo%20MasamasaPhotography!" target="_blank" class="btn btn-primary">Chat Admin BDG/JKT</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                    <div class="info-wrap js-fullheight bg-primary w-100 p-md-5 p-4">
                        <h3>Let's get in touch</h3>
                        <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                        <div class="dbox w-100 d-flex align-items-start">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="text pl-3">
                                <p><span>Address:</span> Jl. Kaler, Cikidangbayabang, Kec. Mande, Kabupaten Cianjur, Jawa Barat 43292</p>
                            </div>
                        </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="text pl-3">
                                <p><span>Phone:</span> <a href="tel://+6285772025040">+6285772025040</a></p>
                            </div>
                        </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-paper-plane"></span>
                            </div>
                            <div class="text pl-3">
                                <p><span>Email:</span> <a href="mailto:masamasaphotography@gmail.com" class="text-break">masamasaphotography@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="text pl-3">
                                <p><span>Website</span> <a href="#" class="text-break">masamasaphotography.lastformat.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex no-gutters">
                <div id="map" class="map">
                </div>
            </div>
        </div>
    </section>
</div>
<%- include ./partials/footer.ejs %>