<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">

        <h1 id="colorlib-logo" class="mb-4 mb-md-5"><a href="/" style="background-image: url(/images/bg_1.jpg);">Masamasa Photography</a></h1>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li <% if(page === 'index') { %> class="colorlib-active" <% } %> ><a href="/">Home</a></li>
                <li <% if(page === 'gallery' || page === 'gallery/detail') { %> class="colorlib-active" <% } %> ><a href="/gallery">Gallery</a></li>
                <li <% if(page === 'about') { %> class="colorlib-active" <% } %> ><a href="/about">About</a></li>
                <li <% if(page === 'contact') { %> class="colorlib-active" <% } %> ><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <div class="colorlib-footer">
            <p class="pfooter"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </aside> <!-- END COLORLIB-ASIDE -->